.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button:hover {
  background-color: rgb(76, 74, 187) !important;
  transition: all 0.4s ease-in-out !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html .index header {
  position: relative;
  background: linear-gradient(#d6e5f7, white);
  border-bottom: 1px solid rgb(109, 109, 109);
  padding: 64px;
}
html .index header .login_btn {
  margin: 30px;
  background-color: rgb(48, 46, 177);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 12px;
  border-radius: 6px;
}
html .index header .inp {
  border: 1px solid rgb(70, 70, 70);
  border-radius: 6px;
  padding: 6px;
}
html .index header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(#d6e5f7, white);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}
html .index header .navbar button {
  margin: 30px;
  background-color: rgb(48, 46, 177);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 12px;
  border-radius: 6px;
}
html .index header .navbar a {
  text-decoration: none;
}
html .index header .navbar a h1 {
  margin: 30px;
  font-family: "Sour Gummy";
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 40px;
}
html .index header .card {
  display: flex;
  border: 1px solid rgb(114, 114, 114);
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 12px;
  background-color: white;
}
html .index header .card button {
  background-color: rgb(48, 46, 177);
  color: white;
  font-weight: 700;
  padding: 10px;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 6px;
}
html .index header .card h1 {
  display: flex;
  justify-self: start;
  align-self: flex-start;
  margin-bottom: 24px;
}
html .index main {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
html .index main .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html .index main .icon i {
  font-size: 24px;
}
html .index main .icon h2 {
  display: block;
  margin-left: 10px;
}
html .index main img {
  width: 40vw;
}
html .index footer p {
  margin-left: 10vw;
}
html .index footer p a {
  color: black;
}
html .purchase header .navbar {
  display: flex;
  justify-content: space-between;
}
html .purchase header .navbar button {
  margin: 30px;
  background-color: rgb(48, 46, 177);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 12px;
  border-radius: 6px;
}
html .purchase header .navbar a {
  text-decoration: none;
}
html .purchase header .navbar a h1 {
  margin: 30px;
  font-family: "Sour Gummy";
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 40px;
}
html .purchase main {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(95, 95, 95);
}
html .purchase main section .title {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 24px;
  border: 1px solid rgb(220, 227, 235);
  padding: 20px;
}
html .purchase main section .cards {
  width: 80vw;
}
html .purchase main section .cards .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 24px;
  padding: 20px;
  font-size: 32px;
  background-color: rgba(221, 233, 248, 0.548);
  margin-bottom: 22px;
}
html .purchase main section .cards .card .no_dash {
  border-left: none;
}
html .purchase main section .cards .card div {
  padding-left: 10px;
  border-left: 1px dashed rgb(177, 183, 194);
  gap: 30px;
}
html .purchase main section .cards .card div h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
html .purchase main section .cards .card div button {
  color: white;
  background-color: rgb(48, 46, 177);
  border: 1px solid rgb(196, 196, 196);
  font-weight: 800;
  border-radius: 6px;
  font-size: 20px;
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-self: center;
  align-items: center;
}
html .purchase footer p {
  margin-left: 10vw;
}
html .purchase footer p a {
  color: black;
}
html .checkout header .navbar {
  display: flex;
  justify-content: space-between;
}
html .checkout header .navbar button {
  margin: 30px;
  background-color: rgb(48, 46, 177);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 12px;
  border-radius: 6px;
}
html .checkout header .navbar a {
  text-decoration: none;
}
html .checkout header .navbar a h1 {
  margin: 30px;
  font-family: "Sour Gummy";
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 40px;
}
html .checkout header .blue {
  background-color: blue;
  color: white;
}
html .checkout header .blue p {
  margin-left: 400px;
  font-size: 20px;
  font-weight: 700;
}
html .checkout main section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
html .checkout main section .card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 24px;
  padding: 20px;
  font-size: 32px;
  background-color: rgba(221, 233, 248, 0.548);
  margin-bottom: 22px;
  width: 50vw;
}
html .checkout main section .card .no_dash {
  border-left: none;
}
html .checkout main section .card div {
  padding-left: 10px;
  border-left: 1px dashed rgb(177, 183, 194);
  gap: 30px;
}
html .checkout main section .card div h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
html .checkout main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .checkout main form .purchase_btn {
  padding: 12px;
  background-color: rgb(27, 27, 255);
  color: white;
  font-weight: 700;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 4px;
}
html .checkout main form .div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
html .checkout main form .div .inp_first {
  width: 20vw;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  border: solid 1px rgb(175, 174, 174);
}
html .checkout main form .background {
  background-color: rgb(27, 27, 255);
  padding: 20px;
  color: white;
  font-weight: 700;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 4px;
}
html .checkout main form .card_passanger {
  display: flex;
  align-items: center;
}
html .checkout main form .card_passanger input {
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  border: solid 1px rgb(175, 174, 174);
  margin: 8px;
}
html .checkout main form .card_passanger button {
  padding: 12px;
  background-color: rgb(27, 27, 255);
  color: white;
  font-weight: 700;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 4px;
}
html .checkout footer {
  background-color: rgb(200, 219, 247);
}
html .checkout footer p {
  margin-left: 10vw;
}
html .checkout footer p a {
  color: black;
}
html .login {
  background: linear-gradient(white, skyblue);
  margin: 0;
  padding: 0;
}
html .login section {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  justify-self: center;
  padding: 20px;
  width: 300px;
  border: 1px solid rgb(154, 184, 224);
  border-radius: 12px;
  background-color: rgb(244, 252, 255);
}
html .login section p {
  font-size: 20px;
  margin-bottom: 20px;
}
html .login section form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .login section form input {
  border: 1px solid rgb(165, 187, 216);
  border-radius: 12px;
  padding: 12px;
}
html .login section form select {
  border: 1px solid rgb(165, 187, 216);
  border-radius: 12px;
  padding: 12px;
  color: rgb(128, 128, 128);
}
html .login section form button {
  border: 1px solid rgb(165, 187, 216);
  border-radius: 12px;
  padding: 12px;
  background-color: rgb(73, 25, 248);
  color: white;
  font-weight: 700;
}
html .login footer {
  background-color: rgb(255, 255, 255);
}
html .login footer p {
  margin-left: 10vw;
}
html .login footer p a {
  color: black;
}
html .ticketcheck header .navbar {
  display: flex;
  justify-content: space-between;
}
html .ticketcheck header .navbar button {
  margin: 30px;
  background-color: rgb(48, 46, 177);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 12px;
  border-radius: 6px;
}
html .ticketcheck header .navbar a {
  text-decoration: none;
}
html .ticketcheck header .navbar a h1 {
  margin: 30px;
  font-family: "Sour Gummy";
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 40px;
}
html .ticketcheck .p {
  font-size: 24px;
  display: flex;
  justify-self: center;
  margin-bottom: 30px;
}
html .ticketcheck div {
  text-align: center;
  margin-bottom: 20px;
}
html .ticketcheck div button {
  background-color: rgb(48, 46, 177);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 12px;
  border-radius: 6px;
}
html .ticketcheck main {
  display: flex;
  justify-content: center;
}
html .ticketcheck main .train-card.ticket_card {
  border: 1px solid rgb(185, 185, 185);
  width: 290px;
  padding: 10px;
  border-radius: 12px;
}
html .ticketcheck footer {
  background-color: rgb(255, 255, 255);
}
html .ticketcheck footer p {
  margin-left: 10vw;
}
html .ticketcheck footer p a {
  color: black;
}

@media screen and (max-width: 810px) {
  .index header .inp {
    margin-top: 10px;
  }
  .index div {
    display: flex;
    flex-direction: column;
  }
  .index div .inp {
    padding: 3px !important;
  }
}
@media screen and (max-width: 760px) {
  .index .navbar {
    padding-right: 0;
  }
  .index main {
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr !important;
  }
  .index main img {
    display: none;
  }
  .index .icon h2 {
    font-size: 17px;
  }
}
@media screen and (max-width: 370px) {
  .navbar {
    flex-direction: column !important;
    display: flex !important;
    align-items: center;
    padding: 0 !important;
  }
  form h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1020px) {
  .checkout header .navbar {
    display: flex;
    justify-content: space-between;
  }
  .checkout header .navbar button {
    margin: 30px;
    background-color: rgb(48, 46, 177);
    color: white;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 12px;
    border-radius: 6px;
  }
  .checkout header .navbar a {
    text-decoration: none;
  }
  .checkout header .navbar a h1 {
    margin: 30px;
    font-family: "Sour Gummy";
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 40px;
  }
  .checkout header .blue {
    background-color: blue;
    color: white;
  }
  .checkout header .blue p {
    margin-left: 20vw !important;
    font-size: 20px;
    font-weight: 700;
  }
  .checkout main section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .checkout main section .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 24px;
    padding: 20px;
    font-size: 16px;
    background-color: rgba(221, 233, 248, 0.548);
    margin-bottom: 22px;
    width: 50vw;
  }
  .checkout main section .card .no_dash {
    border-left: none;
  }
  .checkout main section .card div {
    padding-left: 10px;
    border-left: 1px dashed rgb(177, 183, 194);
    font-size: 18px;
    gap: 30px;
  }
  .checkout main section .card div h6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .checkout main form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .checkout main form .purchase_btn {
    padding: 12px;
    background-color: rgb(27, 27, 255);
    color: white;
    font-weight: 700;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
  }
  .checkout main form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .checkout main form div .inp_first {
    width: 20vw;
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
    font-size: 12px !important;
    border: solid 1px rgb(175, 174, 174);
  }
  .checkout main form .background {
    background-color: rgb(27, 27, 255);
    padding: 20px;
    color: white;
    font-weight: 700;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
  }
  .checkout main form .card_passanger {
    display: flex;
    align-items: center;
  }
  .checkout main form .card_passanger input {
    padding: 20px;
    border-radius: 4px;
    font-size: 16px;
    border: solid 1px rgb(175, 174, 174);
    margin: 8px;
  }
  .checkout main form .card_passanger button {
    padding: 12px;
    background-color: rgb(27, 27, 255);
    color: white;
    font-weight: 700;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
  }
  .checkout footer {
    background-color: rgb(200, 219, 247);
  }
  .checkout footer p {
    margin-left: 10vw;
  }
  .checkout footer p a {
    color: black;
  }
}
@media screen and (max-width: 490px) {
  .checkout h1 {
    font-size: 22px;
  }
  .checkout header .navbar {
    display: flex;
    justify-content: space-between;
  }
  .checkout header .navbar button {
    margin: 30px;
    background-color: rgb(48, 46, 177);
    color: white;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 12px;
    border-radius: 6px;
  }
  .checkout header .navbar a {
    text-decoration: none;
  }
  .checkout header .navbar a h1 {
    margin: 30px;
    font-family: "Sour Gummy";
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 20px;
  }
  .checkout header .blue {
    background-color: blue;
    color: white;
  }
  .checkout header .blue p {
    margin-left: 20vw !important;
    font-size: 20px;
    font-weight: 700;
  }
  .checkout main section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .checkout main section .card {
    width: 70vw !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 24px;
    padding: 20px;
    font-size: 16px;
    background-color: rgba(221, 233, 248, 0.548);
    margin-bottom: 22px;
    width: 50vw;
  }
  .checkout main section .card .no_dash {
    border-left: none;
  }
  .checkout main section .card div {
    padding-left: 10px;
    border-left: 1px dashed rgb(177, 183, 194);
    font-size: 18px;
    gap: 30px;
  }
  .checkout main section .card div h6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .checkout main form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .checkout main form .purchase_btn {
    padding: 12px;
    background-color: rgb(27, 27, 255);
    color: white;
    font-weight: 700;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
  }
  .checkout main form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .checkout main form div .inp_first {
    width: 20vw;
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
    font-size: 16px;
    border: solid 1px rgb(175, 174, 174);
  }
  .checkout main form .background {
    background-color: rgb(27, 27, 255);
    padding: 20px;
    color: white;
    font-weight: 700;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
  }
  .checkout main form .card_passanger {
    display: flex;
    align-items: center;
  }
  .checkout main form .card_passanger input {
    padding: 20px;
    border-radius: 4px;
    font-size: 16px;
    border: solid 1px rgb(175, 174, 174);
    margin: 8px;
  }
  .checkout main form .card_passanger button {
    padding: 12px;
    background-color: rgb(27, 27, 255);
    color: white;
    font-weight: 700;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 4px;
  }
  .checkout footer {
    background-color: rgb(200, 219, 247);
  }
  .checkout footer p {
    margin-left: 10vw;
  }
  .checkout footer p a {
    color: black;
  }
}
@media screen and (max-width: 860px) {
  .purchase h1 {
    font-size: 20px;
  }
  .purchase p {
    font-size: 16px;
  }
  .purchase header .navbar {
    display: flex;
    justify-content: space-between;
  }
  .purchase header .navbar button {
    margin: 30px;
    background-color: rgb(48, 46, 177);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 12px;
    border-radius: 6px;
  }
  .purchase header .navbar a {
    text-decoration: none;
  }
  .purchase header .navbar a h1 {
    margin: 30px;
    font-family: "Sour Gummy";
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 40px;
  }
  .purchase main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(95, 95, 95);
  }
  .purchase main section .title {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    border: 1px solid rgb(220, 227, 235);
    padding: 20px;
  }
  .purchase main section .cards {
    width: 80vw;
  }
  .purchase main section .cards .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    padding: 20px;
    font-size: 32px;
    background-color: rgba(221, 233, 248, 0.548);
    margin-bottom: 22px;
  }
  .purchase main section .cards .card .no_dash {
    border-left: none;
  }
  .purchase main section .cards .card div {
    padding-left: 10px;
    border-left: 1px dashed rgb(177, 183, 194);
    gap: 30px;
  }
  .purchase main section .cards .card div h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .purchase main section .cards .card div button {
    color: white;
    background-color: rgb(48, 46, 177);
    border: 1px solid rgb(196, 196, 196);
    font-weight: 800;
    border-radius: 6px;
    margin-top: 24px;
    font-size: 16px !important;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .purchase footer p {
    margin-left: 10vw;
  }
  .purchase footer p a {
    color: black;
  }
}
@media screen and (max-width: 860px) {
  .purchase h1 {
    font-size: 20px;
  }
  .purchase p {
    font-size: 12px;
  }
  .purchase header .navbar {
    display: flex;
    justify-content: space-between;
  }
  .purchase header .navbar button {
    margin: 30px;
    background-color: rgb(48, 46, 177);
    color: white;
    font-size: 18px !important;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 12px;
    border-radius: 6px;
  }
  .purchase header .navbar a {
    text-decoration: none;
  }
  .purchase header .navbar a h1 {
    margin: 30px;
    font-family: "Sour Gummy";
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 40px;
  }
  .purchase main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(95, 95, 95);
  }
  .purchase main section .title {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    border: 1px solid rgb(220, 227, 235);
    padding: 20px;
  }
  .purchase main section .cards {
    width: 80vw;
  }
  .purchase main section .cards .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    padding: 20px;
    font-size: 32px;
    background-color: rgba(221, 233, 248, 0.548);
    margin-bottom: 22px;
  }
  .purchase main section .cards .card .no_dash {
    border-left: none;
  }
  .purchase main section .cards .card div {
    padding-left: 10px;
    border-left: 1px dashed rgb(177, 183, 194);
    gap: 30px;
  }
  .purchase main section .cards .card div h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .purchase main section .cards .card div button {
    color: white;
    background-color: rgb(48, 46, 177);
    border: 1px solid rgb(196, 196, 196);
    font-weight: 800;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 10px !important;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .purchase footer p {
    margin-left: 10vw;
  }
  .purchase footer p a {
    color: black;
  }
}
@media screen and (max-width: 425px) {
  .purchase h1 {
    font-size: 20px;
  }
  .purchase p {
    font-size: 12px;
  }
  .purchase header .navbar {
    display: flex;
    justify-content: space-between;
  }
  .purchase header .navbar button {
    margin: 30px;
    background-color: rgb(48, 46, 177);
    color: white;
    font-size: 18px !important;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 12px;
    border-radius: 6px;
  }
  .purchase header .navbar a {
    text-decoration: none;
  }
  .purchase header .navbar a h1 {
    margin: 30px;
    font-family: "Sour Gummy";
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 40px;
  }
  .purchase main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(95, 95, 95);
  }
  .purchase main section .title {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    border: 1px solid rgb(220, 227, 235);
    padding: 20px;
  }
  .purchase main section .cards {
    width: 80vw;
  }
  .purchase main section .cards .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    padding: 20px;
    font-size: 32px;
    background-color: rgba(221, 233, 248, 0.548);
    margin-bottom: 22px;
  }
  .purchase main section .cards .card .no_dash {
    border-left: none;
  }
  .purchase main section .cards .card div {
    padding-left: 10px;
    border-left: 1px dashed rgb(177, 183, 194);
    gap: 30px;
  }
  .purchase main section .cards .card div h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .purchase main section .cards .card div button {
    color: white;
    background-color: rgb(48, 46, 177);
    border: 1px solid rgb(196, 196, 196);
    font-weight: 800;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 10px !important;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .purchase footer p {
    margin-left: 10vw;
  }
  .purchase footer p a {
    color: black;
  }
}
@media screen and (max-width: 350px) {
  .purchase h1 {
    font-size: 20px;
  }
  .purchase p {
    font-size: 12px;
  }
  .purchase header .navbar {
    display: flex;
    justify-content: space-between;
  }
  .purchase header .navbar button {
    margin: 30px;
    background-color: rgb(48, 46, 177);
    color: white;
    font-size: 18px !important;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 12px;
    border-radius: 6px;
  }
  .purchase header .navbar a {
    text-decoration: none;
  }
  .purchase header .navbar a h1 {
    margin: 30px;
    font-family: "Sour Gummy";
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 40px;
  }
  .purchase main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(95, 95, 95);
  }
  .purchase main section .title {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    border: 1px solid rgb(220, 227, 235);
    padding: 20px;
  }
  .purchase main section .cards {
    width: 80vw;
  }
  .purchase main section .cards .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 24px;
    padding: 20px;
    font-size: 32px;
    background-color: rgba(221, 233, 248, 0.548);
    margin-bottom: 22px;
  }
  .purchase main section .cards .card .no_dash {
    border-left: none;
  }
  .purchase main section .cards .card div {
    padding-left: 10px;
    border-left: 1px dashed rgb(177, 183, 194);
    gap: 30px;
  }
  .purchase main section .cards .card div h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .purchase main section .cards .card div button {
    color: white;
    background-color: rgb(48, 46, 177);
    border: 1px solid rgb(196, 196, 196);
    font-weight: 800;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 10px !important;
    padding: 8px;
    padding-left: 7px !important;
    padding-right: 7px !important;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .purchase footer p {
    margin-left: 10vw;
  }
  .purchase footer p a {
    color: black;
  }
}/*# sourceMappingURL=style.css.map */