.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    .index{
        header{
            position: relative;
            background: linear-gradient(#d6e5f7, white);
            border-bottom: 1px solid rgb(109, 109, 109);
            padding: 64px;
            .inp{
                border: 1px solid rgb(70, 70, 70);
                border-radius: 6px;
                padding: 6px;
            }
            .navbar{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background: linear-gradient(#d6e5f7, white);
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 80px;
                z-index: 1000;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                border-bottom: 1px solid rgba(0, 0, 0, 0.151);
                button{
                    margin: 30px;
                    background-color: rgb(48, 46, 177);
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    border: 1px solid rgba(0, 0, 0, 0.342);
                    padding: 12px;
                    border-radius: 6px;
                }
                a{
                    text-decoration: none;
                    h1{
                        margin: 30px;
                        font-family: "Sour Gummy";
                        color: rgb(51, 51, 51);
                        font-weight: 400;
                        font-size: 40px;
                    }
                }
            }
            .card{
                display: flex;
                border: 1px solid rgb(114, 114, 114);
                padding-left: 10vw;
                padding-right: 10vw;
                padding-top: 5vh;
                padding-bottom: 5vh;
                border-radius: 12px;
                background-color: white;
                button{
                    background-color: rgb(48, 46, 177);
                    color: white;
                    font-weight: 700;
                    padding: 10px;
                    border: 1px solid rgb(46, 46, 46);
                    border-radius: 6px;
                }
                h1{
                    display: flex;
                    justify-self: start;
                    align-self: flex-start;
                    margin-bottom: 24px;
                }
            }
        }
        main{
            display: flex;
            flex-direction: row;
            gap: 64px;
            .icon{
                display: flex;
                flex-direction: row;
                align-items: center;
                i{
                    font-size: 24px;
                }
                h2{
                    display: block;
                    margin-left: 10px;
                }
            }
            img{
                width: 40vw;
            }
        }
        footer{
            p{
                margin-left: 10vw;
                a{
                    color: black;
                }
            }
        }
    }
    .purchase{
        header{
            .navbar{
                display: flex;
                justify-content: space-between;
                button{
                    margin: 30px;
                    background-color: rgb(48, 46, 177);
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    border: 1px solid rgba(0, 0, 0, 0.342);
                    padding: 12px;
                    border-radius: 6px;
                }
                a{
                    text-decoration: none;
                    h1{
                        margin: 30px;
                        font-family: "Sour Gummy";
                        color: rgb(51, 51, 51);
                        font-weight: 400;
                        font-size: 40px;
                    }
                }
            }
        }
        main{
            display: flex;
            justify-content: center;
            color: rgb(95, 95, 95);
        }
    }
}


@media screen and (max-width: 810px) {
    .index{
        header{
            .inp{
                margin-top: 10px;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            .inp{
                padding: 3px !important;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .index{
        .navbar{
            padding-right: 0;
        }
        main{
            display: grid !important;
            grid-template-columns: 1fr 2fr 1fr !important;
            img{
                display: none;
            }
        }
        .icon{
            h2{
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .index{
        .navbar{
            flex-direction: column !important;
            display: flex !important;
            align-items: center;
            padding: 0 !important;
        }
        form{
            h1{
                font-size: 24px;
            }
        }
    }
}