.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
    body{
        header{
            position: relative;
            background: linear-gradient(#d6e5f7, white);
            border-bottom: 1px solid rgb(109, 109, 109);
            padding: 64px;
            .navbar{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background: linear-gradient(#d6e5f7, white);
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 80px;
                z-index: 1000;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                border-bottom: 1px solid rgba(0, 0, 0, 0.151);
                button{
                    margin: 30px;
                    background-color: rgb(48, 46, 177);
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    border: 1px solid rgba(0, 0, 0, 0.342);
                    padding: 12px;
                    border-radius: 6px;
                }
                h1{
                    margin: 30px;
                    font-family: "Sour Gummy";
                    color: rgb(51, 51, 51);
                    font-weight: 400;
                    font-size: 40px;
                }
            }
            .card{
                position: absolute;
                bottom: -9vh;
                left: 13vw;
                border: 1px solid rgb(114, 114, 114);
                padding-left: 20vw;
                padding-right: 20vw;
                padding-top: 5vh;
                padding-bottom: 5vh;
                border-radius: 12px;
                background-color: white;
                h1{
                    display: flex;
                    justify-self: start;
                    align-self: flex-start;
                }
            }
        }
    }
}